{% extends "scrum/header.html" %}
{% block sidebar %}
<ul class="sidebar-nav">
    {% if portfolio_status %}
        {% for status in portfolio_status %}
          <li><a href="#">{{ status.title }}</a></li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}
{% block content %}
<div align="center" class="panel panel-primary col-lg-12" style="padding: 10px;" border="1">
    <table class="table table-hover">
        <tr>
            <td class="warning">Portofolio</td><td > {{ portfolio.title }}</td>

            <td class="warning">Type</td><td >{{ portfolio.portfoliotypeid }}</td>
        </tr>

        <tr >
            <td class="info">Owner</td><td >{{ portfolio.owner }}</td>
            <td class="info">Current Status</td><td >{{ portfolio.portfoliostatusid }}</td>
        </tr>
    </table>
</div>
<br />
<div style="margin-left:20px;margin-top:20px">
    <h4>Releases</h4>

    {% for release in portfolio.portfolioreleases_set.all %}
    <hr>
    <p><strong>Release:</strong> {{release.releaseid}}</p>
    <p class="text-muted"><strong>Details:</strong> {{release.details}}</p>
    {% endfor %}
  </div>
{% endblock %}