{% extends "scrum/header.html" %}
{% block content %}
<div align="center" class="panel panel-primary col-lg-8" style="padding: 10px;" border="1">
    <table class="table table-hover">
        <tr>
            <td class="warning">Portofolio</td><td > {{ portfolio.title }}</td>

            <td class="warning">Type</td><td >{{ portfolio.portfoliotypeid }}</td>
        </tr>

        <tr >
            <td class="info">Owner</td><td >{{ portfolio.owner }}</td>
            <td class="info">Current Status</td><td >{{ portfolio.portfoliostatusid }}</td>
        </tr>
    </table>
</div>
  {% endblock content %}